@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/*custom colors*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

:root{
    --bgcolor: #e57c31;
    --primary-color: #6f5de7;
    --text-color: #0f0f1f;
    --main-text-color: #333333;
}

html{
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}
/* -------------------navbar css style sheets
                               --------------------------------------*/

.naavbar-bg {
    background-color: var(--bgcolor);
    padding: 2rem 0;
    z-index:100;
    position: relative;
}

.navbar-brand{
    font-size: 3rem;
}

navbar li{
    padding: 2.5rem;

}

navbar li a{
    font-size: 2rem;
    font-weight: normal;
    position: relative;
}

navbar li a:hover{
    color: var( --primary-color)!important;
    text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}

.btn-style{
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    color: #fff;
    background-color: var(--primary-color);
    text-transform: capitalize;
    font-size: 1.5rem;
}

.btn-style:first-child{
    margin: right 3px;
}

.btn-style:hover{
    border:0.1rem solid var(--primary-color);
    background-color:transparent;
    color:var(--primary-color);
    box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);

}
/* -------------------Navbar ends
                    -------------------------------------------------*/
                    
/* -------------------Hero section starts
                    -------------------------------------------------*/
header{
    background-color:var(--bgcolor);
    min-height: 100vh;
    width:100%;
}

.main-hero-container {
    height: 80vh;
    display:flex;
   /* background-color: rgb(241, 211, 90);*/

}  
.main-hero-container h1{
    text-transform: capitalize;
    font-weight: bolder;
    }
.main-hero-para{
    font-size: 15px;
    color: var(--text-color);
    margin:3rem 0 5rem 0;
    font-weight: lighter;
    width: 75%;

}
.main-hero-container h3{
   font-weight: lighter;
}
.input-group{
    position:relative !important;
}

.form-control-text{
    position: absolute;
    height: 5rem;
    border:none;
    outline-style:none;
    padding-left: 1.5rem !important;
    font-size: 1.4rem;
    font-weight: lighter;

}

.input-group-button{
    position: absolute;
    right:30%;
    top:0.5rem;
    color:#fff;
    background-color: var(--primary-color);
    height: 4rem;
    width:25%;
    border-radius:2rem !important;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:1.3rem;
}

  /* right side of hero section*/

.main-herosection-images{
    position: relative;
}  
.main-herosection-images img{
width:80%;
height:60%;
margin-top: 10rem;
box-shadow:0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
border-radius:1.5rem;
position:absolute;
}
.main-herosection-images
.main-hero-img2{
    position:absolute;
    width:50%;
    height:40%;
    left:80%;
    bottom:2%;
    box-shadow:0.8rem 0 0.8rem rgba(0, 0, 0, 0.25);
    
}
.work-container{
    width: 80vw;
    padding: 5rem;
    box-shadow: 0  .4rem 1.2rem rgba(0, 0, 0, 0.1);
    margin-top: -10rem;
    background-color: #fff;
    border-radius: 0.5rem;
  
  }
  .work-container .main-heading{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 4rem;
    word-spacing: 1rem;
  
  }
  .work-container-subdiv{
    padding: 0 6rem;
  }
  .work-container .sub-heading{
    font-size: 2rem;
    font-weight: normal;
  }
  .fontawesome-style{
    font: 2.3rem;
    color: #ad3caf;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--bgcolor);
    display: grid;
    place-items: center;
  }
  .our-services img{
    width: 40%;
    height: 75%;
    margin-top: 10rem;
    box-shadow: #333333;
    border-radius: 1.5rem;
  
  }
  .our-services .mini-title{
    text-transform: uppercase;
    font-weight: normal;
    margin: 3rem 0;
    text-align: left;
    font-size: 1.5rem;
  }
  .our-services .main-heading{
    font-weight: bolder;
  }
  .our-services-info{
    margin-top: 4rem;
  }
  .our-services .our-services-number{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.1rem solid var(--primary-color);
    font-size: 1rem;
    color: var(--primary-color);
    display: grid;
    place-items: center;
    align-items:center;
  
  }
  .our-services-data{
    padding-left: 2rem;
  }
  .our-services .our-services-data{
    margin: 1rem 0;
  }
            
.our-products img{
  width: 70%;
  height: 75%;
  margin-top: 10rem;
  box-shadow: #333333;
  border-radius: 1.5rem;
}

.our-products .main-heading{
  font-weight: bolder;
  text-align:left;
  margin-top: 8rem;

}
.our-products-info{
  margin-top: 2rem;
  margin-bottom: -4rem;
  text-align: 4rem;
}
.our-products-data{
  padding-left: 2rem;
  
}
.our-products .our-products-data{
  margin: 1rem 0;
}
contactus-section{
    margin: 15rem 0;
  }
  .contact-leftside img{
    min-width: 80%;
    max-width: 30rem;
    height: auto;
  }
  .contact-input-field{
    margin-bottom: 4rem ;
  }
  .form-control{
    height: 5rem;
  }
  .contact-rightside form .form-control{
    border: 1px solid #ced4da;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding-left: 1rem;
    font-weight: lighter;
  }
  .contact-rightside form .form-check-point{
      width: 2em;
      height: 2em;
  }
  .form-checkpoint-style{
    margin: 4rem 0;
  }
  .contact-rightside form .main-hero-para{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0;
    font-weight: lighter;
    width: 75%;
    padding: 0 2rem;
  }
/* -------------------Hero section ends
                    -------------------------------------------------*/
 /* ------------------Footer Section starts
                     -------------------------------------------------*/
                     footer{
                      padding: 5rem 0;
                      background-color: #dd6a0c ;
                      color: #fff;
                    }
                    footer h2{
                      color: #fff;
                    }
                    footer li{
                      list-style: none;
                      font-size: 1.5rem;
                      font-weight: lighter;
                      color: #fff;
                      cursor: pointer;
                      margin: 1rem 0;
                    }
                    footer li:hover{
                      color: var(--primary-color);
                    }
                    footer .main-hero-para{
                      margin: 0;
                    }
                    footer .fontawesome-style{
                      font: 2.3rem;
                      color: var(--primary-color);
                      background-color: transparent;
                      width: 0rem;
                      height: 0rem;
                      margin: 2rem 0;
                      cursor: pointer;
                    }
                    footer .fontawesome-style.hover {
                      transition: all 1s;
                      animation: rotatefont 1s linear infinite alternate-reverse;
                      color: #fff;
                    }
                    @keyframes rotatefont{
                      0%  {
                        transform: scale(0,6)
                        ;
                      }
                      100%{
                        transform: scale(1,2);
                      }
                    }
                    footer .main-hero-para{
                      margin: 0;
                    }                    

 /*-------------------Footer Section ends
                     ----------------------------*/                 

/* -------------------responsive media queries
                    -------------------------------------------------*/

@media (min-width: 1500px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1500px !important;
    }
}                    

@media(min-width:1400px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1400px;
    }
}
  